*,body html {
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  overflow: auto;
}

/* first page */

#first-page{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../img/photo-1512895356176-c49e710676ac.jpg);
  background-size: cover;
  background-position: center;
}

#first-page > header{
  width: 100%;
  height: 100px;
  margin: 20px auto 0;
}

#first-page > header > nav{
  display: block;
}

#first-page > header > nav > p{
  display: inline-block;
  float: left;
  color: #fff;
  margin-left: 50px;
  font-size: 20px;
}

#first-page > header > nav > ul{
  display: inline-block;
  float: right;
  margin-right: 50px;
}

#first-page > header > nav > ul > li{
  display: inline-block;

}

#first-page > header > nav > ul > li > a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 5px 15px;
}

#first-page > header > nav > ul > li > a:hover{
  color: #3399ff;
}

#first-page > .content{
  display: flex;
  flex-direction: column;
  margin-top: 300px;
}
#first-page > .content > h1{
  margin: 30px auto 0;
  color: #fff;
  font-size: 50px;
}

#first-page > .content > p{
  width: 100%;
  max-width: 700px;
  margin: 30px auto 0;
  text-align: center;
  color: #fff;
}

#first-page > .content > .button{
  margin: 30px auto 0;
}

#first-page > .content > .button > a{
  padding: 5px 10px;
  text-decoration: none;
  margin: 0 20px;
}

#first-page > .content > .button > a:hover{
  color: #fff;
  background-color: #3399ff
}

#first-page > .content > .button > .lm{
  color: #fff;
  border: #fff 1px solid;
}

#first-page > .content > .button > .gs{
  color: #999;
  background-color: #fff;
  border: #fff 1px solid;
}

/* first page end */

/* second page */

#second-page{
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

#second-page > .container{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 400px auto;
}

#second-page > .container > img{
  width: 100%;
  max-width: 500px;
  margin: 0 50px;
}

#second-page > .container > .content{
  width: 100%;
  max-width: 500px;
  margin: 0 50px;
}

#second-page > .container > .content > h1{
 margin-bottom: 20px;
 font-size: 40px;
}

#second-page > .container > .content > p{
  margin-bottom: 20px;
  color: #999;

}

#second-page > .container > .content > ul{
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(4,1fr)
}

#second-page > .container > .content > ul > li{
  display: block;
  text-align: center;
}

#second-page > .container > .content > ul > li > a{
  display: block;
  text-decoration: none;
  margin: 10px 10px 10px 0;
  padding: 5px 10px;
  color: #999;
  border: 1px #999 solid;
  border-radius: 5px;
}

#second-page > .container > .content > ul > li > a:hover{
  color: #fff;
  background-color: #3399ff;
}

/* second page end */

/* third page */

#third-page{
  width: 100%;
  height: 100vh;
  background-color: #e6e6e6;
}

#third-page > .container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#third-page > .container > .title{
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

#third-page > .container > .content{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
  margin-left: 
}

#third-page > .container > .content > .box{
  width: 250px;
  margin: 200px auto 0;
  background-position: center;
  background-size: cover;
}

#third-page > .container > .content > .box-1{
  background-image: url(../img/210165.jpg);
}

#third-page > .container > .content > .box-2{
  background-image: url(../img/wallpaper-2937024.jpg);
}

#third-page > .container > .content > .box-3{
  background-image: url(../img/raja-ampat.jpg);
}

#third-page > .container > .content > .box-4{
  background-image: url(../img/Indonesia-Blog-Feature-resized.jpg);
}

#third-page > .container > .content > .box > .details{
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#third-page > .container > .content > .box > .details > h3{
  padding: 20px 20px 0;
  color: #fff;
}

#third-page > .container > .content > .box > .details > p{
  padding: 20px 20px 0;
  color: #fff;
}

#third-page > .container > .content > .box:hover > .details{
  visibility: visible;
}

/* third page end */

/* fourth page */

#fourth-page{
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

#fourth-page > .container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fourth-page > .container > .content{
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}

#fourth-page > .container > .content > .details{
  width: 100%;
  max-width: 500px;
  margin: 0 50px;
}

#fourth-page > .container > .content > .details > h2{
  font-size: 50px;
}

#fourth-page > .container > .content > .details > p{
  margin-top: 50px;
}

#fourth-page > .container > .content > img{
  width: 100%;
  max-width: 500px;
  margin: 0 50px;
}

#fourth-page > .container > footer{
  text-align: center;
  margin-top: 200px;
}

#fourth-page > .container > footer > p{
  margin: 10px;
}

/* fourth page end */

/* media 1024px */

@media screen and (max-width: 1024px){

  /* media second page */

  #second-page > .container > img{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  #second-page > .container > .content{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  /* media second page end */
  
  /* media third page */

  #third-page > .container > .content{
    display: grid;
    grid-template-columns: repeat(3,1fr)
  }

  #third-page > .container > .content > .box{
    margin: 100px auto 0;
  }

  /* media third page end */

  /* media fourth page */

  #fourth-page > .container > .content > .details{
    max-width: 400px;
    margin: 0 auto;
  }

  #fourth-page > .container > .content > .details > h2{
    font-size: 30px;
  }
  
  #fourth-page > .container > .content > .details > p{
    margin-top: 30px;
    font-size: 16px;
  }

  #fourth-page > .container > .content > img{
    max-width: 400px;
    margin: 0 auto;

  /* media fourth page end */
}

/* media 1024px end */

/* media 768px */

@media screen and (max-width: 768px){
  /* media second page */

  #second-page > .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #second-page > .container > .content{
    margin-top: 20px;
  }

  #second-page > .container > .content > ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

  /* media second page end */

  /* media third page */

  #third-page > .container > .content{
    display: grid;
    grid-template-columns: repeat(2,1fr)
  }

  #third-page > .container > .content > .box{
    margin: 50px auto 0;
  }

  /* media third page end */

  /* media fourth page */

  #fourth-page > .container > .content{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  #fourth-page > .container > .content > .details > p{
    margin-top: 20px;
  }

  #fourth-page > .container > .content > img{
    margin-top: 20px;
  }

  #fourth-page > .container > footer{
    margin-top: 100px;
  }

  /* media fourth page end */
}

/* media 320px */

@media screen and (max-width: 580px){
  /* media first page */
  #first-page > header > nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #first-page > header > nav > p{
    margin: 0;
    font-size: 15px;
  }

  #first-page > header > nav > ul{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    text-align: center;
  }

  #first-page > header > nav > ul > li > a{
    font-size: 15px;
  }

  #first-page > .content{
    margin-top: 200px;
  }

  #first-page > .content > h1{
    font-size: 30px;
  }

  #first-page > .content > p{
    font-size: 12px;
  }

  #first-page > .content > .button{
    display: flex;
    flex-direction: row;
  }

  #first-page > .content > .button > a{
    margin: 5px;
  }
  /* media first page end */

  /* media second page */

  #second-page > .container{
    margin: 300px auto;
  }

  #second-page > .container > .content{
    width: 100%;
    max-width: 300px;
  }

  #second-page > .container > .content > h1{
    font-size: 30px;
  }

  #second-page > .container > .content > p{
    font-size: 12px;
  }

  #second-page > .container > .content > ul > li > a{
    font-size: 15px;
    padding: 2px 5px;
  }

  /* media second page end */

  /* media third page */

  #third-page{
    height: 120vh;
  }

  #third-page > .container > .content{
    display: flex;
    flex-direction: column;
  }

  #third-page > .container > .content > .box{
    width: 250px;
    height: 150px;
  }

  #third-page > .container > .content > .box > .details > h3{
    font-size: 20px;
  }

  #third-page > .container > .content > .box > .details > p{
    font-size: 11px;
  }

  /* media third page end */

  /* media fourth page */

  #fourth-page > .container > .content > .details{
    max-width: 250px;
  }

  #fourth-page > .container > .content > .details > h2{
    font-size: 20px;
  }

  #fourth-page > .container > .content > .details > p{
    font-size: 12px;
  }

  #fourth-page > .container > .content > img{
    max-width: 250px;
  }

  #fourth-page > .container > footer > p{
    font-size: 12px;
  }

  /* media fourth page end */
}

/* media 320px end */
